<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.buyingliving.vo.Property_map" alias="Property_map" />
		<typeAlias type="com.buyingliving.vo.Property" alias="Property" />
	 	<typeAlias type="com.buyingliving.vo.Property_total" alias="Ptotal"/>
		<typeAlias type="com.buyingliving.vo.Property_basket" alias="Pbasket"/>
	
		<typeAlias type="com.buyingliving.vo.Customer" alias="Customer" />
		<typeAlias type="com.buyingliving.vo.Broker" alias="Broker" />
		<typeAlias type="com.buyingliving.vo.Board" alias="Board" />
		<typeAlias type="com.buyingliving.vo.Pictures" alias="Pictures" />
		<typeAlias type="com.buyingliving.vo.Cart" alias="Cart" />
		<typeAlias type="com.buyingliving.vo.Pretran" alias="Pretran" />
		
		<typeAlias type="com.buyingliving.vo.BoardReply" alias="BoardReply" />
		<typeAlias type="com.buyingliving.vo.Message" alias="Message"/>
		
	</typeAliases>
	<mappers>
		<mapper resource="mappers/customerMapper.xml" />
		<mapper resource="mappers/brokerMapper.xml" />
		<mapper resource="mappers/adminMapper.xml" />
		<mapper resource="mappers/freeBoardMapper.xml" />
		<mapper resource="mappers/qnaBoardMapper.xml" />
		<mapper resource="mappers/propertyMapper.xml" />
		<mapper resource="mappers/messageMapper.xml" />
	</mappers>
</configuration>