<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.buyingliving.app.persistence.CustomerDAO">
	<select id="selectAllCustomer" resultType="Customer">
		select * from customer
	</select>

	<insert id="insertCustomer" parameterType="Customer">
		insert into
		customer(custId, name, password, birthday, email, phone)
		values
		(#{custId},#{name},#{password},#{birthday},#{email},#{phone})
	</insert>

	<update id="updateCustomer" parameterType="Customer">
		update customer set
		password=#{password},email=#{email},phone=#{phone}
		where custId =
		#{custId}
	</update>

	<select id="selectOneCustomer" resultType="Customer">
		select * from customer
		where custId = #{custId}
	</select>

	<select id="examplePropertyList" resultType="Property_map">
		select * from
		Property_map where propertyNo between 240 and 245
	</select>

<!-- 	<select id="cartList" parameterType="map" resultType="Pbasket"> -->
<!-- 		SELECT pm.propertyNo, pm.title, pm.address, pm.danji, pm.propertytype, -->
<!-- 		pm.price, pm.monthfee, pm.area, -->
<!-- 		TO_CHAR(pd.movedate,'YYYY/MM/DD') as -->
<!-- 		movedate, pd.roomoption,pc.picno, pc.pic, pc.pic_temp -->
<!-- 		FROM -->
<!-- 		property_map -->
<!-- 		pm -->
<!-- 		left outer join property_detail pd on pm.propertyno = pd.propertyno -->
<!-- 		left outer join (select * From -->
<!-- 		( select a.* , row_number() over ( -->
<!-- 		partition -->
<!-- 		by propertyno order by picno ) rum -->
<!-- 		from pictures a where 1=1 ) -->
<!-- 		where rum = 1 ) pc ON pm.propertyno = pc.propertyno -->
<!-- 		WHERE pm.propertyNo -->
<!-- 		in ( -->
<!-- 		<foreach collection="list" item="item" separator=","> -->
<!-- 			#{item} -->
<!-- 		</foreach> -->
<!-- 		) -->
<!-- 	</select> -->

	<select id="cartList" parameterType="String" resultType="Pbasket">
		SELECT pt.propertyNo, pt.title, pt.address, pt.danji, pt.propertytype,
		pt.price, pt.monthfee, pt.area,
		TO_CHAR(pt.movedate,'YYYY/MM/DD') as
		movedate, pt.roomoption,pc.picno, pc.pic, pc.pic_temp
		FROM
		property_total pt
		left outer join (select * From
		( select a.* , row_number() over (
		partition
		by propertyno order by picno ) rum
		from pictures a where 1=1 )
		where rum = 1 ) pc ON pt.propertyno = pc.propertyno
		WHERE pt.propertyNo
		in ( SELECT propertyno FROM cart WHERE custid = #{custId}
		)
	</select>



	<insert id="addCart" parameterType="map">
		insert into cart(cartno,
		custid, inputdate, propertyno) values(seq_cartno.nextval, #{custId},
		sysdate, #{propertyNo})
	</insert>
	
	<select id="checkCart" parameterType="map" resultType="int">
		select
		count(*) from cart where custid=#{custId} and propertyno=#{propertyNo}
	</select>
	
	<!-- 접속중인 아이디와 매물 번호로 cart 삭제하기 -->
	<delete id="delCart" parameterType="map">
		DELETE cart WHERE propertyNo = #{propertyNo} and custId = #{custId}	
	</delete>
	
	<!-- 매물 번로호 Property_total 구해오기 -->
	<select id="selectProperty_total" parameterType="int" resultType="PTotal">
		select * from property_total
		where propertyno =#{propertyNo}
	</select>
	
	 <!-- 사진 가져오기 -->
	<select id="selectPicture" parameterType="int" resultType="Pictures">
		select * from pictures where propertyNo = #{propertyNo} and category = 'property'
	</select>

	<insert id="insertPretran" parameterType="Pretran">
		INSERT INTO temp_con(contno, propertyno, address,con_date,price_kor,con_price,extra_condi,s_id,b_id,b_addr,b_jumin,b_phone,b_name,status) 
		VALUES(seq_contno.nextval, #{propertyNo},#{address},#{con_date},#{price_kor},#{con_price},#{extra_condi},#{s_id},
		#{b_id},#{b_addr},#{b_jumin},#{b_phone},#{b_name},#{status})
	</insert>
	
	<select id="preTranList" parameterType="String" resultType="Pretran">
		SELECT * FROM temp_con WHERE s_id = #{loginId} OR b_id = #{loginId}
	</select>
	
	<select id="selectPretran" parameterType="int" resultType="Pretran">
		SELECT * FROM temp_con WHERE contno = #{contNo}
	</select>
	
	<update id="updatePretran" parameterType="Pretran">
		UPDATE temp_con SET s_addr = #{s_addr} , s_jumin = #{s_jumin} , s_phone=#{s_phone}, s_name=#{s_name}, status=#{status} WHERE contno = #{contNo}
	</update>
	
	<update id="payPretran" parameterType="Pretran">
		UPDATE temp_con SET money_date = sysdate, status= #{status} WHERE contno = #{contNo}
	</update>
	
	<select id="checkPreTran" parameterType="String" resultType="Pretran">
		SELECT * FROM temp_con WHERE address = #{address} AND status IN ('승인','완료')
	</select>
	
	<delete id="delPreTran" parameterType="int">
		DELETE temp_con WHERE contno = #{contNo}
	</delete>
	
		<!-- 접속한 아이디로 승인 받은 매물 가져오기 -->
	<select id="approvedPropertyList" parameterType="string" resultType="Ptotal">
		select * from property_total
		where sellerId = #{sellerId} and approval='Y'
		order by propertyNo desc
	</select>

</mapper>